
<div class="bg-image">
    <div class="container-fluid card login-container">
      <div class="row">
        <div class="col-md-6 border-right">
          <div>
            <img src="../../../assets/images/generic_logo.png" alt="Logo" class="logo">
          </div>
          <div class="text-left">
            <h3>Bem vindo ao sistema de LOGIN</h3>
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="text-center">Login</h3>
          <hr>
      <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
        <p *ngFor="let msg of errorMsg">{{msg}}</p>
      </div>
      <div class="mb-3">
        <label for="login" class="form-label">Email</label>
        <input [(ngModel)]="authRequest.email"  type="email" class="form-control transparent-input" id="login" placeholder="email@example.com" required="Email is required">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input [(ngModel)]="authRequest.password" type="password" class="form-control transparent-input" id="password" placeholder="Password" required="Password is required">
      </div>
      <div class="button-container d-flex justify-content-between mb-3">
        <div>
        <span>Não possui uma conta?&nbsp;</span>
        <button (click)="onRegister()" type="button" class="btn btn-light transparent-button">
          Criar conta
        </button>
      </div>
        <div>
          <button (click)="onLogin()" type="button" class="btn btn-primary">
            Entrar
          </button>
        </div>
    </div>
    </div>
</div>
</div>
</div>
