<div class="bg-image">
  <div class="container-fluid card register-container">
      <div class="row">
        <div class="col-md-6 border-right">
          <div>
            <img src="../../../assets/images/generic_logo.png" alt="Logo" class="logo">
          </div>
          <div class="text-left">
            <h3>Bem vindo ao sistema de LOGIN</h3>
          </div>
        </div>
        <div class="col-md-6">
    <h3 class="text-center">Create an account</h3>
    <hr>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
      <p *ngFor="let msg of errorMsg">{{msg}}</p>
    </div>
    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input [(ngModel)]="registerRequest.name" type="text" class="form-control" id="name" placeholder="Name" required="Name is required">
    </div>
    <div class="mb-3">
      <label for="login" class="form-label">Email address</label>
      <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="login" placeholder="email@example.com" required="Email is required">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password" placeholder="Password" required="Password is required">
    </div>
    <div class="button-container d-flex justify-content-between mb-3">
      <div>
        <span>Já possui uma conta?&nbsp;</span>
        <button (click)="onLogin()" type="button" class="btn btn-light transparent-button">
          Login
        </button>
      </div>
      <div>
      <button (click)="onRegister()" type="button" class="btn btn-primary">
        Criar conta
      </button>
    </div>
    </div>
  </div>
</div>
  </div>
</div>